[role="note"] {
	 margin-top: 0rem;
	 float: right;
	 clear: right;
	 margin-right: 0;
	 margin-bottom: 1rem;
	 width: 50%;
	 vertical-align: baseline;
	 position: relative;
}
 [role="note"] > *:first-child {
	 margin-top: 0rem;
}
 [role="note"] .fullwidth {
	 max-width: 100%;
}
 [role="note"] p, [role="note"] dl, [role="note"].table-wrapper table {
	 width: 100%;
}
 [role="note"] dl {
	 display: block;
}
 [role="note"] ol, [role="note"] ul, [role="note"] pre, [role="note"] code, [role="note"] blockquote {
	 width: 87.5%;
}
 [role="note"].side {
	 margin: 0 -60% 1.96rem 0;
	 width: 50%;
}
 figure[role="note"] {
	 max-width: 100%;
}
 figure[role="note"] figcaption {
	 margin-right: 0;
	 float: none;
	 clear: both;
	 max-width: 100%;
	 width: 100%;
}
 @media screen and (max-width: 760px) {
	 figure[role="note"] + * {
		 clear: left;
	}
}
 .ogc .margin[role=note] {
	 width: 27.5%;
}
 .sidenote-number {
	 counter-increment: sidenote-counter;
}
 .sidenote-number:after, .side[role="note"]:before {
	 content: counter(sidenote-counter) ")\000a0";
	 font-family: var(--counter-font);
	 position: relative;
	 vertical-align: baseline;
}
 .sidenote-number:after {
	 content: counter(sidenote-counter);
	 font-size: 50%;
	 top: -0.2rem;
	 left: 0.1rem;
}
 .full-width [role="note"], .full-width .sidenote-number {
	 display: none;
}
 .margin[role="note"], figure[role="note"] {
	 margin-right: 12.5%;
	 width: 27%;
}
 @media screen and (max-width: 760px) {
	 details, blockquote {
		 clear: both;
	}
	 [role="note"] {
		 display: block;
		 padding-left: 2.5%;
		 margin-right: 2.5%;
		 width: 87.5%;
	}
	 [role="note"].margin-table.table-wrapper {
		 width: 87.5%;
	}
	 [role="note"].margin-table.table-wrapper table {
		 width: 100%;
	}
	 figcaption {
		 width: 100%;
	}
	 .licensed {
		 width: 87.5%;
	}
	 figure[role="note"], .margin[role="note"] {
		 width: 87.5%;
		 clear: both;
		 float: none;
	}
	 .side[role="note"] {
		 clear: both;
		 margin: 1rem 0;
		 width: 97.5%;
	}
	 figure[role="note"] {
		 margin-left: 0;
		 padding-left: 0;
	}
}
 
