{{ define "head-title" }}
{{/*
  {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) .Site.Params.pagination_size }}
  */}}
  {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) (index .Site.Params "paginate" | default 10) }}

  {{- if eq 1 $paginator.PageNumber | default 1 }}
    <title>{{ .Title }}</title>
  {{- else }}
    <title>{{ .Title }} (Page {{ $paginator.PageNumber }})</title>
  {{- end }}
{{ end }}
{{ define "breadcrumb" }}
{{/*
    <div class="feeds" aria-labelledby="site-feeds-label" role="list">
      <span id="site-feeds-label" class="label">Site feeds </span>
      <a role="listitem" href="{{ .Site.BaseURL }}/index.xml">{{ partial "fontawesome.html" "rss" }} RSS</a>

    </div>
    */}}
    <hr class="hidden" />
{{ end }}
{{- define "pageRelatedLinks" }}
{{- with .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) .Site.Params.pagination_size }}
{{ if .HasNext }}<link itemprop="relatedLink" href="{{ .Next.URL }}" />{{ end }}
{{ if .HasPrev }}<link itemprop="relatedLink" href="{{ .Prev.URL }}" />{{ end }}
{{- end }}
{{- end }}
{{ define "main" }}
<section itemprop="about">
  {{ .Content }}
</section>
<article itemprop="mainEntity" aria-labelledby="blog-posts" id="skip-to-content" itemid="#skip-to-content" itemscope itemtype="http://schema.org/Blog">



{{ range .Sections.Reverse}}
<h1 id="blog-posts">{{.Section  | pluralize}}</h1>
  <ol aria-labelledby="blog-posts">

 {{ range .RegularPages }}
        <li>
          <span ><h3 style="margin-bottom: 0.5rem; font-style: normal;"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
             <small><time>{{ .Date.Format "2006-01-02" }}</time></small></span>
        </li>
 {{end}}
   </ol>
 {{end}}

</article>
{{ end }}
